@import "variables";

#wrapper{
    min-height: 100vh!important;
}
@media(min-width: 992px){
    
    #nprogress {
        .spinner {
            display: block;
            position: fixed;
            z-index: 9999999;
            top: 45vh;
            left: 45vw;
        }
    }
}
@media(max-width: 992px){
    
    .sidenav-toggler-line {
        background-color: #ffffff;
    }
    #nprogress .spinner {
        display: block;
        position: fixed;
        z-index: 9999999;
        top: 45vh;
        left: 38vw;
    }
}


// nprogress
#nprogress {
    .spinner {
        $size: 100px;
        width: $size;
        padding: 8px 0 8px 0;
        text-align: center;
        background-color: #fff;
        border-radius: 10px;
        border: 1px solid #dbdbdb;

        &:after {
            content: "Loading ";
            font-size: .75rem;
            text-align: center;
        }
    }
}

/* Make clicks pass-through */

#nprogress {
    pointer-events: all;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 99999;
}

#nprogress .bar {
    background: $accentColor;

    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;

    width: 100%;
    height: 4px;
}

/* Fancy blur effect */
#nprogress .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 50px;
    height: 100%;
    box-shadow: 0 0 10px $accentColor, 0 0 5px $accentColor;
    opacity: 1.0;

    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
}



#nprogress .spinner-icon {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    border: solid 2px transparent;
    border-top-color: $accentColor;
    border-left-color: $accentColor;
    border-radius: 50%;

    -webkit-animation: nprogress-spinner 400ms linear infinite;
    animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
    overflow: hidden;
    position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
    position: absolute;
}

@-webkit-keyframes nprogress-spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes nprogress-spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



/* toggle */
.tap-toggle {
    margin-bottom: 20px;
    background-position: center;
    transition: background 0.8s;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    cursor: pointer;
    user-select: none;
    width: 42px;
    height: 20px;
    position: relative;
    /* border: 1px solid grey; */
    background: rgb(226, 226, 226) 0% 0% no-repeat padding-box;
    /* padding: 1px; */
    /* background-color: white; */
    border-radius: 14px;
    opacity: 1;
}


.tap-toggle.disabled {
    user-select: none;
    opacity: .5;
    pointer-events: none !important;
}

.tp-checked {
    background: $mainColor 0% 0% no-repeat padding-box;
}

.modal-content {
    max-height: 95vh;
}

.modal-body {
    overflow-y: auto;
}

.tap-toggle::after {
    content: "";
    border-radius: 14px;
    position: absolute;
    width: 20px;
    animation: .1s linear 0s slide-right;
    z-index: 9999;
    height: 20px;
    background: #FCFCFC 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 5px #00000029;
    opacity: 1;
}

.tap-toggle.tp-checked::after {
    right: 0;
    animation: .1s linear 0s slide-left;
}

@keyframes slide-left {
    from {
        right: 20px;
    }

    to {
        right: 0;
    }
}

@keyframes slide-right {
    from {
        left: 20px;
    }

    to {
        left: 0;
    }
}


// Pokemon type
.badge-normal {
    background-color: #A8A878;
    border-top-color: #D8D8D0;
    border-bottom-color: #705848;
    color: #fff;
}

.badge-fire {
    background-color: #F08030;
    border-top-color: #F8D030;
    border-bottom-color: #C03028;
    color: #fff;
}

.badge-water {
    background-color: #6890F0;
    border-top-color: #98D8D8;
    border-bottom-color: #807870;
    color: #fff;
}

.badge-grass {
    background-color: #78C850;
    border-top-color: #C0F860;
    border-bottom-color: #588040;
    color: #fff;
}

.badge-electric {
    background-color: #F8D030;
    border-top-color: #F8F878;
    border-bottom-color: #B8A038;
    color: #fff;
}

.badge-ice {
    background-color: #98D8D8;
    border-top-color: #D0F8E8;
    border-bottom-color: #9090A0;
    color: #fff;
}

.badge-fighting {
    background-color: #C03028;
    border-top-color: #F08030;
    border-bottom-color: #484038;
    color: #fff;
}

.badge-poison {
    background-color: #A040A0;
    border-top-color: #D880B8;
    border-bottom-color: #483850;
    color: #fff;
}

.badge-ground {
    background-color: #E0C068;
    border-top-color: #F8F878;
    border-bottom-color: #886830;
    color: #fff;
}

.badge-flying {
    background-color: #A890F0;
    border-top-color: #C8C0F8;
    border-bottom-color: #705898;
    color: #fff;
}

.badge-psychic {
    background-color: #F85888;
    border-top-color: #F8C0B0;
    border-bottom-color: #789010;
    color: #fff;
}

.badge-bug {
    background-color: #A8B820;
    border-top-color: #D8E030;
    border-bottom-color: #A8B820;
    color: #fff;
}

.badge-rock {
    background-color: #B8A038;
    border-top-color: #E0C068;
    border-bottom-color: #886830;
    color: #fff;
}

.badge-ghost {
    background-color: #705898;
    border-top-color: #A890F0;
    border-bottom-color: #483850;
    color: #fff;
}

.badge-dragon {
    background-color: #7038F8;
    border-top-color: #B8A0F8;
    border-bottom-color: #483890;
    color: #fff;
}

.badge-dark {
    background-color: #705848;
    border-top-color: #A8A878;
    border-bottom-color: #484038;
    color: #fff;
}

.badge-steel {
    background-color: #B8B8D0;
    border-top-color: #D8D8C0;
    border-bottom-color: #807870;
    color: #fff;
}

.badge-fairy {
    background-color: #F0B6BC;
    border-top-color: #F5CAD1;
    border-bottom-color: #905F63;
    color: #fff;
}

.badge-unknown {
    background-color: #6AA596;
    border-top-color: #A4D8CB;
    border-bottom-color: #40685E;
    color: #fff;
}