$red: #D8625E;
$mainColor: #D8625E;
$accentColor: #D8625E;
$colorSoft: #EFF5FE;
$successColor: rgba(105, 228, 167, 0.575);
$trsn: #54a1e93a;
$grey: #888;
$bgLinearMain: linear-gradient(89.74deg, #0C52C1 4.31%, #60C5F1 97.27%);

.badge-red{
    background-color: $red;
    color: #fff;
}
.badge-light{
    color: $red;
}

@keyframes slidown{
    from{
        border-width: 0px;
    }
    to{
        border-width: 2px;

    }
}


@keyframes slide-down {
    from{
        transform: translateY(-100px);
    }
    to{
        transform: translateY(0);
    }
}
@keyframes slide-up {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-160px);
    }
}

@keyframes leftoright  {
    from{
        left: -100px;
    }
    to{
        left: 0;
    }
}

@keyframes rotating {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes spin-left-toright {
    from{
        transform: translateX(0) rotate(0deg);
    }
    to{
        transform: translateX(100vw) rotate(360deg);
    }
}