@import "modules";
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;500;800;900&display=swap');

.pokepedia-icon{
    @media(max-width: 768px){
        width: 60%;
    }
    @media(min-width: 768px){
        width: 300px;
    }
}
button, a, p, span, h1, h2, h3, h4, h5, h6{
    font-family: 'Mulish','Courier New', Courier, monospace;
}
.text-bold{
    font-weight: 800;
}
.text-red{
    color: $red!important;
}
.single-pokemon{
    margin-bottom: 40px;
    transition: all .2s ease;
    border-bottom: 1px solid #ebebeb;
    display: block;
    color: unset;
    text-decoration: unset!important;
    &:hover{
        border-bottom-color: $red;
        p{
            color: $red;
        }
        img{
            transform: scale(.9);
        }
    }
    img{
        width: 100%;
        transition: all .2s ease;
    }
    p{
        font-size: 1.3rem;
        transition: all .2s ease;
        font-weight: bold;
        text-align: center;
    }
}
.tab-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    .item{
        outline: unset!important;
        padding: 2px 20px;
        cursor: pointer;
        user-select: none;
        display: inline-block;
        text-decoration: none;
        color: $grey;
        margin: 0 8px ;
    }
    &:not(.pokemon-tab-bar){
        padding: 20px 0;
        .item{
            transition: all .2s ease;
            border-radius: 20px;
            &.hover{
                color: #fff;
                background-color: $red;
            }
            &.active{
                color: #fff;
                background-color: $red;
            }
            &:active{
                color: #fff;
                background-color: $red;
            }
            &:focus{
                color: #fff;
                background-color: $red;
            }
        }
    }
    &.pokemon-tab-bar{
        padding: 10px 0 20px 0;
        .item{
            transition: all .2s ease;
            animation: slidown .2s;
            &.hover{
                color: $red;
                background-color: transparent;
                border-bottom: 2px solid $red;
            }
            &.active{
                color: $red;
                background-color: transparent;
                border-bottom: 2px solid $red;
            } 
            &:active{
                color: $red;
                background-color: transparent;
                border-bottom: 2px solid $red;
            } 
            &:focus{
                color: $red;
                background-color: transparent;
                border-bottom: 2px solid $red;
            } 
        }       
    }
}
.badge{
    &.badge-secondary{
        background-color: $grey;
    }
    &.lg{
        padding: 8px 20px;
    }
}
.back-button{
    text-decoration: unset!important;
    color: $grey;
    display: flex;
    transition: all .3s ease;
    font-size: 1rem;
    font-weight: bolder;
    svg{
        margin-right: 10px;
    }
    align-items: center;
    &:hover{
        color: $red!important;
    }
    &:focus{
        color: $red!important;
    }
    &:active{
        color: $red!important;
    }
}
.btn{
    transition: all .1s easse;
    &:focus{
        box-shadow: unset!important;
        // transform: scale(.9);
    }
    &:active{
        box-shadow: unset!important;
        transform: scale(.96);
    }
}
.btn-red{
    background-color: $red;
}
.catch-now{
    z-index: 99;
    position: fixed;
    bottom: 16px;
    left: 16px;
    display: flex;
    justify-content: center;
    right: 16px;
    .btn-base{
        box-shadow: 0px 0px 5px #333;
        border-radius: 20px;
        background-color: $red;
        color: #fff;
        min-width: 200px;
    }
}

.pokemon-stats{
    td{
        padding: 0 0 1rem 0;
    }
    .stats-label{
        font-weight: bold;
        color: $grey;
    }
    font-size: .85rem;
    .stats-bar{
        height: 8px;
        border-radius: 20px;
        color: #fff;
        overflow: hidden;
        background-color: #dbdbdb;
        width: 100%;
        position: relative;
        .stats{
            animation: leftoright .3s;
            border-radius: 20px;
            left: 0;
            top: 0;
            bottom: 0;
            position: absolute;
            z-index: 9;
            background-color: $red;
        }
    }
}

.pokemon-overview{
    font-size: .8rem;
    tr{
        td{
            padding-bottom: .8rem;
            &:first-child{
                font-weight: bold;
            }
        }
    }
}
.pokemon-sub-detail{
    margin-bottom: 10vh!important;
}
.rotating{
    animation: rotating 1.2s infinite;
}
.spin-and-left-toright{
    animation: spin-left-toright 2s infinite;
}
.catching, .web-alert{
    position: fixed;
    z-index: 100;
    flex-direction: column;
    color: #fff;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(51, 51, 51, 0.474);
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-scroled{
    box-shadow: 0px 0px 4px #dbdbdb;
    width: 100%;
    background-color: #fff;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    animation: slide-down .3s;
    
}